doctype html
html(lang="en")
    head
      title=title
      link(href='/css/main.css',rel='stylesheet')
    body
        if username
          h2 Hello #{username}
          div
           form(name='logout',method='POST',action='logout')
            input(type='submit',value='Logout')
        else
          div
            a(href='signup') SignUp
          div
            a(href='login') Login